body,
html {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: Arial;
    font-size: 20px
}

p{
    font-family: consolas; 
}
h5{
    font-family: consolas;
}
span{
    font-family: consolas;
}
.interface-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
    display: none;
}

.left {
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
.right {
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.interface-left {
    background-color: rgba(127, 127, 127, 0.44);
    color: white;
    height: 1000px;
     margin: 0px; 
     padding: 0px;
}

.menu-separator {
    height: 2px;
    background-color: white;
    margin: 10px 20px 5px;
}

.menu-item {
    display: flex;
    flex-direction: row;
}
.col {
    height: 246px;
}

.menu-item>.left img {
    height: 150px;
    margin: 20px;
    margin-left: 35px;
    margin-bottom: 0;
}

.menu-item>.right {
    text-align: center;
    color: white;
}

.menu-item>.right>span {
    align-items: center;
    font-size: 35px;
    margin-bottom: 25px;
}

.shop {
    padding-top: 2px;
    height: 900px;
    width: 717px;
    background: rgba(127, 127, 127, 0.44);
    border-radius: 20px;
}

.shopItem{
    margin-top: 27px;
    margin-left: 20px;
    height: 273px;
    width: 680px;
    background:  rgba(171, 171, 171, 1);
    border-radius: 20px;
}

.menu-item>.right .progress {
    width: 200px;
    margin-left: 10px;
    margin-right: 10px;
}

.js_plus {
    font-size: 20px;
}

.js_plus:hover {
    color: green;
}

.menu-item-plus {
    font-size: 20px;
}

.menu-item-plus i {
    font-size: 100px;
}

.menu-item-plus i:hover {
    color: green;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

p {
    width: 50%;
    text-align: center;
    color: white;
}

.hello-wrapper {
    color: white;
    text-align: center;
    /* background-image: url("../images/background.jpg"); */
    background-color: #000000;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}